.title {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}

.cart-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: flex-end;
    flex-direction: column;
}

header {
    background-color: #9dcad7;
    margin-bottom: 20px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
}

.cart {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: 10px;
    height: fit-content;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
}

.to-cart-btn {

}

.cart-items {
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding-bottom: 15px;
}

.main-list {
    padding-bottom: 15px;
}

.special-link {
    text-decoration: none;
    color: black;
}

.link-list {
    display: flex;
    align-items: center;

    .main-link {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}