header {
  background: #353535;
}

.special-link {
  text-decoration: none;
  color: #f5f5f7;
}

.special-link:hover {
  color: white;
}

h2 {
  color: white;
}

.title {
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
}

.main-list {
  padding-bottom: 15px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.cart {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding: 10px;
  height: fit-content;
  flex-direction: column;
}

.cart-items {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding-bottom: 15px;
}

.cart-header {
  display: flex;
  flex-direction: column;
}

.cart-header {
  padding-left: 20px;
}

.cart {
  margin: 25px;
  max-width: 350px;
}

.products-list {
  padding-left: 25px;
}

.add-to-cart-btn {
  margin-top: 25px;
}